@charset 'utf-8';

/* 
 * colors: 
 * #02b3e4
 * #2d3c49
 * #7d97ad
 * 
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #fafafa;
  color: #2d3c49;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
img,
video,
object {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

.container {
  position: relative;
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* 
 *
 * Header
 * 
 */

.site-header {
  background: #fff;
}

.site-header__inner {
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 550px) {
  .site-header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.site-header__logo {
}
.site-header__logo img {
  width: 70px;
}

.site-header__title {
  text-align: right;
}
.site-header__title a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.site-header__title h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2rem;
}
.site-header__tagline {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

/* 
 * 
 * Content
 * 
 */

.site-content {
}

.section--hero {
  background: #eee;
  margin-top: 40px;
  padding: 40px;
}
.section {
  maring: 40px 0;
}
.section__header {
  font-weight: 600;
  color: #7d97ad;
}

.featured-works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: -1em 0 0 -1em;
}

.featured-works__item {
  flex: 1;
  text-align: center;
  padding: 1em 0 0 1em;
}
.featured-works__item > a {
  text-decoration: none;
  color: inherit;
}
.featured-works__item h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
